* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  text-align: center;
  
}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

.footer{
  background-color: black;
  color: white;
  text-align:center;
  padding:15px;
  margin-top:7px;
  font-size: larger;
  margin-top: 8px;
}
.header{
  background-color: black; 
  padding:15px;
  text-align:center;
}
body{
  background-color: rgb(75, 73, 73);
}
.icons{
  text-align: center;
}